upstream {{ item.vhost_name }}  {
  server {{ hostvars[inventory_hostname]['ansible_facts']['default_ipv4']['address'] }}:{{ item.app_port }} max_fails=3 fail_timeout=10s;
  least_conn;
}

server {
    listen 80;
    server_name {{ item.vhost_name }}.thedarkarts.za.net;

  access_log  /var/log/nginx/{{ item.vhost_name }}.access.log main;
  error_log  /var/log/nginx/{{ item.vhost_name }}.error.log;

  location / {

    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto http;

    proxy_pass  http://{{ item.vhost_name }};
  }
}
